<div class="text-center">
    < <img src="<%= data.profile_img %>" alt="<%= data.name %>" class="img-fluid"
        style="width: 400px; border-radius: 150px" />
    <h1>
        <%= data.name %>
    </h1>
    <% if (data.nicknames !==null) { %>
        <p class="text-muted">Also know as <% for( let index=0; index < data.nicknames.length; index++ ) { %>
                <% if (index===data.nicknames.length-1) { %>
                    and <%= data.nicknames[index] %>
                        <% } else { %>
                            <%= data.nicknames[index] %>,
                                <% } %>
                                    <% } %>
        </p>
        <% } %>
</div>