<div class="row justify-content-center"
  style="margin-bottom: 100px; padding: 50px; border: 5px solid #ffc107; border-radius: 50px; background-color: white;">
  <span class="text-center" style="font-size: 30px; font-weight: bold;">Featured Lyrics</span>
  <p class="text-center text-muted" style=" margin-bottom: 25px;">List auto updates every 4 hours</p>

  <% for(var i=0; i<featured_lyrics.length; ++i) { %>
    <div class="col-lg-3 col-md-4 col-sm-6" >
      <a href="/artists/<%= featured_lyrics[i].artist_query %>" style="text-decoration: none;">
        <div>
          <img src="/imgs/<%= featured_lyrics[i].artist_query %>.png" alt="<%= featured_lyrics[i].artist %>"
            class="img-fluid" style="border-radius: 20px;">

          <p class="text-secondary text-center">
            <%= featured_lyrics[i].artist %>
          </p>
        </div>
        <p class="text-center"
          style="color: black; background-color: rgb(230, 230, 230, .3); padding: 25px; border-radius: 10px; border: .5px solid black; font-size: 18px;">
          
            "<%= featured_lyrics[i].lyrics %>"
          
        </p>
      </a>
    </div>
    <% } %>
</div>