<div class="row" style="background-color: white; padding: 25px;">
    <img src="/icons/popular.svg" alt="popular icon" style="margin-right: 5px; width: 75px;" /> <h2 style="display: contents;">Most Popular</h2>
    <p class="text-muted">
    <%= data[0]._id.artistNameClean %> is currently the artist with the most bad lyrics stored. 
    </p>
    <% for( let index=0; index < data.length; index++ ) { %>
        <div class="col-xl-1 col-lg-2 col-md-3 col-4">
            <a href="/artists/<%= data[index]._id.artistName %>" style="text-decoration: none; color: black">
                <img src="/imgs/<%= data[index]._id.artistName %>.png" alt="<%= data[index]._id.artistName  %>"
                    class="img-fluid" style="width: 100px;"/>
                <div>
                    <%= data[index]._id.artistNameClean %>
                    <code style="display: block; font-weight: bold;"><%= data[index].numOfLyrics%> lyrics</code>
                </div>
                
            </a>
        </div>
        <% } %>
</div>