<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= artist_data[0].artist %>'s Worst Lyrics
  </title>
  <meta name="description" content="Discover some of <%= artist_data[0].artist %>'s worst rap lyrics">
  <meta property="og:title" content="<%= artist_data[0].artist %>'s Worst Rap Lyrics" />
  <meta property="og:description" content="A collection of <%= artist_data[0].artist %>'s worst rap lyrics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://badrapapi.com/artists/<%= artist_data[0].artist_query %>" />

  <% if(artist_profile != undefined) { %>
  <meta property="og:image" content="https://badrapapi.com<%= artist_profile[0].img_href %>" />
  <% } else { %>
  <meta property="og:image" content="https://badrapapi.com/no-img.png" />
  <% } %>

  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <link rel="canonical" href="https://badrapapi.com/artists/<%= artist_data[0].artist_query %>" />
  <!-- Social Buttons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <style>
    .fa {
      padding: 10px;
      font-size: 20px;
      text-decoration: none;
      width: 50px;
    }

    .fa:hover {
      color: white;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-reddit {
      background: rgb(255, 69, 0);
      color: white;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4JN3EDCDX7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-4JN3EDCDX7');
  </script>
  <!--Adsense-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4106301283765460" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./navbar'); %>
  <div class="container" style='margin-bottom: 50px;'>





    <div class="row mt-5">



      <div class="col-lg-5" id='parent-profile-div'>
        <%- include('./searchBar') %>
        <div id='profile-div' itemscope itemtype="https://schema.org/Person">
          <% if(artist_profile != undefined) { %>
          <div class="text-center">
            <img alt='<%= artist_data[0].artist %>' src='<%= artist_profile[0].img_href %>' itemprop="image" />
          </div>

          <% } %>



          <div>
            <h1 class="text-center" style='margin-top: 25px;'><span itemprop="name"><%= artist_data[0].artist %></span>'s Worst Lyrics</h1>



            <% if(artist_profile !== undefined) { %>

            <% if(artist_profile[0].nicknames.length !== 0) { %>
            <p class='text-secondary text-center'>Also know as <% if(artist_profile[0].nicknames.length == 1) { %>
              <span itemprop="alternateName"><i><%= artist_profile[0].nicknames[0] %></i></span>
              <% } else if(artist_profile[0].nicknames.length == 2) { %>
              <span itemprop="alternateName"><i><%= artist_profile[0].nicknames[0] %></i></span> or <span itemprop="alternateName"><i><%= artist_profile[0].nicknames[1] %></i></span>
              <% } else { %>
              <% for(var i=0; i<artist_profile[0].nicknames.length; ++i) { %>
              <% if(i == artist_profile[0].nicknames.length-1) { %>
              or <span itemprop="alternateName"><i><%= artist_profile[0].nicknames[i]  %></i></span>
              <% } else { %>
              <span itemprop="alternateName"><i><%=  artist_profile[0].nicknames[i] %></i></span>,
              <% } %>
              <% } %>
              <% } %>

            </p>
            <% } %>
            <% if(artist_profile[0].description !== undefined) { %>
            <%- include('./artistDescription', {about: artist_profile[0].description}) %>
            <% } %>
            <% } %>



            <p class="text-center"><code style='color: black'>Send a GET request to <a href='/api/filter?artist=<%= artist_data[0].artist_query %>' style='text-decoration: none;'>/api/filter?artist=<%= artist_data[0].artist_query %></a> for JSON data</code></p>
            <% console.log(artist_profile[0]) %>
            <% console.log(artist_profile[0].social_links) %>

            <% if(artist_profile[0].social_links !== undefined) { %>
            <div class="text-center row p-4" style="margin-bottom: 50px;">

              <% artist_profile[0].social_links.forEach(element => { %>
              <!--instagram link-->
              <% if (element.split('instagram').length !== 1) { %>
              <div class="col" itemscope itemtype="https://schema.org/relatedLink">
                <a href="<%= element %>" rel="noreferrer" target="_blank" itemprop="url"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25" width="25" viewBox="-19.5036 -32.49725 169.0312 194.9835">
                    <defs>
                      <radialGradient fy="578.088" fx="158.429" gradientTransform="matrix(0 -1.98198 1.8439 0 -1031.399 454.004)" gradientUnits="userSpaceOnUse" xlink:href="#a" r="65" cy="578.088" cx="158.429" id="c" />
                      <radialGradient fy="473.455" fx="147.694" gradientTransform="matrix(.17394 .86872 -3.5818 .71718 1648.351 -458.493)" gradientUnits="userSpaceOnUse" xlink:href="#b" r="65" cy="473.455" cx="147.694" id="d" />
                      <linearGradient id="b">
                        <stop stop-color="#3771c8" offset="0" />
                        <stop offset=".128" stop-color="#3771c8" />
                        <stop stop-opacity="0" stop-color="#60f" offset="1" />
                      </linearGradient>
                      <linearGradient id="a">
                        <stop stop-color="#fd5" offset="0" />
                        <stop stop-color="#fd5" offset=".1" />
                        <stop stop-color="#ff543e" offset=".5" />
                        <stop stop-color="#c837ab" offset="1" />
                      </linearGradient>
                    </defs>
                    <path d="M65.033 0C37.891 0 29.953.028 28.41.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0017.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512C102.338.157 101.733.027 86.193 0z" fill="url(#c)" />
                    <path d="M65.033 0C37.891 0 29.953.028 28.41.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0017.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512C102.338.157 101.733.027 86.193 0z" fill="url(#d)" />
                    <path d="M65.003 17c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65C17.06 50.327 17 51.964 17 65s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27zm29.928 7.97a5.76 5.76 0 105.76 5.758c0-3.18-2.58-5.76-5.76-5.76zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645C78.616 89.645 89.65 78.613 89.65 65S78.615 40.35 65.002 40.35zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16z" fill="#fff" />
                  </svg>
                  <div>Instagram</div>
                </a>
              </div>

              <% } %>
              <% if (element.split('twitter').length !== 1) { %>
              <div class="col" itemscope itemtype="https://schema.org/relatedLink">
                <a href="<%= element %>" rel="noreferrer" target="_blank" itemprop="url">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197;" xml:space="preserve">
                    <g>
                      <circle style="fill:#55ACEE;" cx="56.099" cy="56.098" r="56.098" />
                      <g>
                        <path style="fill:#F1F2F2;" d="M90.461,40.316c-2.404,1.066-4.99,1.787-7.702,2.109c2.769-1.659,4.894-4.284,5.897-7.417    c-2.591,1.537-5.462,2.652-8.515,3.253c-2.446-2.605-5.931-4.233-9.79-4.233c-7.404,0-13.409,6.005-13.409,13.409    c0,1.051,0.119,2.074,0.349,3.056c-11.144-0.559-21.025-5.897-27.639-14.012c-1.154,1.98-1.816,4.285-1.816,6.742    c0,4.651,2.369,8.757,5.965,11.161c-2.197-0.069-4.266-0.672-6.073-1.679c-0.001,0.057-0.001,0.114-0.001,0.17    c0,6.497,4.624,11.916,10.757,13.147c-1.124,0.308-2.311,0.471-3.532,0.471c-0.866,0-1.705-0.083-2.523-0.239    c1.706,5.326,6.657,9.203,12.526,9.312c-4.59,3.597-10.371,5.74-16.655,5.74c-1.08,0-2.15-0.063-3.197-0.188    c5.931,3.806,12.981,6.025,20.553,6.025c24.664,0,38.152-20.432,38.152-38.153c0-0.581-0.013-1.16-0.039-1.734    C86.391,45.366,88.664,43.005,90.461,40.316L90.461,40.316z" />
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                  <div>Twitter</div>
                </a>
              </div>

              <% } %>
              <% if (element.split('facebook').length !== 1) { %>
              <div class="col" itemscope itemtype="https://schema.org/relatedLink">
                <a href="<%= element %>" rel="noreferrer" target="_blank" itemprop="url"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14222 14222">
                    <circle cx="7111" cy="7112" r="7111" fill="#1977f3" />
                    <path d="M9879 9168l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4969c362 57 733 86 1111 86s749-30 1111-86V9168z" fill="#fff" />
                  </svg>
                  <div>Facebook</div>
                </a>
              </div>

              <% } %>
              <% }) %>



            </div>
            <% } %>


            <% if(artist_profile[0].music_links !== undefined) { %>
            <div class="text-center row p-4" style="margin-bottom: 50px;">

              <% artist_profile[0].music_links.forEach(element => { %>


              <% if (element.split('spotify').length !== 1) { %>
              <div class="col" itemscope itemtype="https://schema.org/relatedLink">
                <a href="<%= element %>" rel="noreferrer" target="_blank" itemprop="url">
                  <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="-33.4974 -55.829 290.3108 334.974">
                    <path d="M177.707 98.987c-35.992-21.375-95.36-23.34-129.719-12.912-5.519 1.674-11.353-1.44-13.024-6.958-1.672-5.521 1.439-11.352 6.96-13.029 39.443-11.972 105.008-9.66 146.443 14.936 4.964 2.947 6.59 9.356 3.649 14.31-2.944 4.963-9.359 6.6-14.31 3.653m-1.178 31.658c-2.525 4.098-7.883 5.383-11.975 2.867-30.005-18.444-75.762-23.788-111.262-13.012-4.603 1.39-9.466-1.204-10.864-5.8a8.717 8.717 0 015.805-10.856c40.553-12.307 90.968-6.347 125.432 14.833 4.092 2.52 5.38 7.88 2.864 11.968m-13.663 30.404a6.954 6.954 0 01-9.569 2.316c-26.22-16.025-59.223-19.644-98.09-10.766a6.955 6.955 0 01-8.331-5.232 6.95 6.95 0 015.233-8.334c42.533-9.722 79.017-5.538 108.448 12.446a6.96 6.96 0 012.31 9.57M111.656 0C49.992 0 0 49.99 0 111.656c0 61.672 49.992 111.66 111.657 111.66 61.668 0 111.659-49.988 111.659-111.66C223.316 49.991 173.326 0 111.657 0" fill="#1ed660" />
                  </svg>
                  <div>Spotify</div>
                </a>
              </div>

              <% } %>
              <% if (element.split('apple').length !== 1) { %>
              <div class="col" itemscope itemtype="https://schema.org/relatedLink">
                <a href="<%= element %>" rel="noreferrer" target="_blank" itemprop="url">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 2500 594.5" style="enable-background:new 0 0 2500 594.5;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: #231F20;
                      }
                    </style>
                    <g>
                      <path class="st0" d="M394.4,315.1c-0.8-48.4,20.1-86,62.6-113c-24-34.9-59.4-54.5-106.1-58.9c-16.6-1.6-37.9,2.4-63.8,11.9   c-27.8,10.3-43.5,15.4-47,15.4c-7.3,0-21.5-4.3-42.4-13.1c-20.9-8.7-38.7-13.1-53.4-13.1c-24.7,0.4-47.8,7.2-69,20.5   c-21.3,13.3-38.3,31.4-51,54.4C8.1,247.9,0,282,0,321.7c0,35.7,6,71.3,18,107c11.2,34.1,25.5,64,42.9,89.8   c15.4,23.4,29,40.4,40.6,51.2c16.6,16.6,33.6,24.6,51.1,23.8c11.2-0.4,25.9-4.6,44.1-12.5c17-7.5,34-11.3,51-11.3   c15.8,0,32.3,3.8,49.3,11.3c18.9,7.9,34.4,11.9,46.4,11.9c17.8-0.8,34.4-8.5,49.9-23.2c5.4-4.8,11.3-11.3,17.7-19.6   c7.4-9.7,14.4-19.6,21.2-29.7c5.6-8.7,11-17.6,16-26.8c5.4-9.8,10.1-19.9,14.2-30.3c1.9-4.4,3.7-8.8,5.2-13.4   c1.5-4.6,3.1-9.2,4.6-14c-14.3-6.3-27.3-15.3-38.9-26.8C407.7,383.7,394.8,352.4,394.4,315.1L394.4,315.1z M814.9,421.1h-2.8   L694.4,152h-92.5v434.3h80.6V305h3.7l98.4,223.3h56.5L939.3,305h3.8v281.3h81.5V152h-91.9L814.9,421.1z M321.3,95.1   c20.5-25.8,30.8-53.5,30.8-83.2V6c0-2-0.2-4-0.6-6c-14.3,0.8-29.5,5.4-45.5,13.7c-16,8.3-29.3,18.9-39.7,31.5   c-20.9,25-31.3,51.7-31.3,80.3v5.6c0,1.8,0.2,3.7,0.6,5.7C267.6,139.9,296.2,126,321.3,95.1L321.3,95.1z M1966.7,152h90.6v434.3   h-90.6V152z M2331,221c53.7,0,82.1,41.4,82.1,85.9h86.9v-9.2c0-84-64.1-154-169.7-154c-113.1,0-180.6,74.4-180.6,201.4v49   c0,126.9,66.9,200.4,180.3,200.4c108.4,0,170-71,170-149.9v-9.5h-86.9c0,44.9-27.8,82.1-81.5,82.1c-55,0-90-39.1-90-122.8v-49   C2241.6,262,2276.9,221,2331,221L2331,221z M1371.1,426.2c0,58.2-34.1,90.4-84,90.4c-50.3,0-84.4-31.8-84.4-90.4V152h-90v287   c0,92.6,65.6,155.6,174.3,155.6c108.4,0,174.3-63,174.3-155.6V152h-90.3V426.2L1371.1,426.2z M1761.2,333.3l-64.7-14.6   c-38.1-8-58.1-24.8-58.1-50c0-33.4,27.2-54.4,70.9-54.4c49.4,0,74,28.3,76.2,58.9h84.4c-0.9-76.7-65-130.1-160.3-130.1   c-90.3,0-161.5,47.4-161.5,132.7c0,73.8,50,108.1,110,121.2l64,14.9c43.1,9.9,65,24.2,65,53.8c0,33.7-26.9,56.7-77.2,56.7   c-54.1,0-82.5-28.6-85-60.8h-86.9c1.3,61.4,41.9,133,167.5,133c105.6,0,170.9-52.5,170.9-137.8   C1876.5,377.8,1823.7,347,1761.2,333.3L1761.2,333.3z" />
                    </g>
                  </svg>
                  <div>Apple Music</div>
                </a>
              </div>

              <% } %>
              <% }) %>



            </div>
            <% } %>

          </div>




        </div>
      </div>



      <div class="col-lg-7">


        <hr>

        <% if(has_explicit_song.length !==0) { %>
        <div class="alert alert-danger p-3" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-explicit" viewBox="0 0 16 16">
            <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
            <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
          </svg>
          <p class="m-0" style="display: inline;">Some songs contain explicit lyrics</p>
        </div>

        <% } %>



        <div>
          <%  if(artist_data.length == 1) { %>
          <h2> <code style="color: black"><%= artist_data.length %> lyric</code></h2>
          <% } else { %>
          <h2> <code style="color: black"> <%= artist_data.length %> of <%= artist_data[0].artist %>'s Worst lyrics</code></h2>
          <% }   %>

          <% if(artist_data.length == 1) { %>
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg> Lyric from <a href='/year/<%= lyrics_years_range[0] %>'><%= lyrics_years_range[0] %></a></p>
          <% } else { %>
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg> Lyrics from <% for(var i=0; i<lyrics_years_range.length; ++i) { %>
            <% if(i == lyrics_years_range.length-1) { %>
            <a href='/year/<%= lyrics_years_range[i] %>'><%= lyrics_years_range[i] %></a>
            <% } else { %>
            <a href='/year/<%= lyrics_years_range[i] %>'><%= lyrics_years_range[i] %></a> &middot
            <% } %>
            <% } %>
          </p>
          <% } %>

          <div style='background-color: rgb(242, 242, 242, .5); padding: 3vw; border-radius: 10px;'>
            <% for(var i=0; i<artist_data.length; ++i) { %>
            <div style="background-color: rgb(230, 230, 230, .5); padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid black;" itemscope itemtype="https://schema.org/MusicComposition">
              <% if(artist_data[i].explicit) { %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-explicit" viewBox="0 0 16 16">
                <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
                <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
              </svg>

              <% } %>
              <p style="display: inline; font-size: 14px;"><i style="font-size: 20px;">"<span itemprop="lyrics"><%= artist_data[i].lyrics %></span>"</i>
                (<span itemprop="name"><%= artist_data[i].song %></span>, <span itemprop="copyrightYear"><%= artist_data[i].release_date %></span>)</p>

              <% if(artist_data[i].explanation !== undefined) { %>
              <div style="padding: 10px; background-color: rgb(255, 255, 0, .5); margin-top: 10px;">
                <span><u>Explanation:</u></span>
                <p style="margin-bottom: 0px;" itemprop="comment"><%= artist_data[i].explanation %></p>
              </div>
              <% } %>

            </div>
            <% } %>
          </div>
        </div>

        <% if(related_artists !== undefined) { %>
        <hr>
        </hr>
        <%- include('./relatedArtists', {related_data: related_artists}) %>
        <% } %>


      </div>



    </div>





  </div>
</body>

</html>