<!DOCTYPE html>

<html lang="en" style="background-color: rgb(242, 242, 242);">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <% if (artist_data.profile !==null) { %>
    <title>
      <%= artist_data.profile.name %>'s Worst Lyrics
    </title>
    <meta name="description" content="Discover some of <%= artist_data.profile.name %>'s worst song lyrics">
    <meta property="og:title" content="List of <%= artist_data.profile.name %>'s Worst Lyrics" />
    <meta property="og:description" content="A collection of <%= artist_data.profile.name %>'s worst song lyrics" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lyricdump.com/artists/<%= artist_data.profile.artist_query %>" />
    <meta property="og:image" content="https://lyricdump.com<%= artist_data.profile.profile_img %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="canonical" href="https://lyricdump.com/artists/<%= artist_data.profile.artist_query %>" />
    <% } else { %>
      <title>
        <%= artist_data.lyrics[0].artist %>'s Worst Lyrics
      </title>
      <meta name="description" content="Discover some of <%= artist_data.lyrics[0].artist %>'s worst song lyrics">
      <meta property="og:title" content="List of <%= artist_data.lyrics[0].artist %>'s Worst Lyrics" />
      <meta property="og:description"
        content="A collection of <%= artist_data.lyrics[0].artist %>'s worst song lyrics" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://lyricdump.com/artists/<%= artist_data.lyrics[0].artist_query %>" />
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="canonical" href="https://lyricdump.com/artists/<%= artist_data.lyrics[0].artist_query %>" />
      <% } %>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

          .navbar-toggler:focus {
            box-shadow: none;
          }
        </style>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JC5XRCVESM"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());

          gtag('config', 'G-JC5XRCVESM');
        </script>
</head>

<body>
  <%- include('./components/navbar'); %>
    <div class="container-fluid"
      style='margin-bottom: 50px; color: black; background-color: rgb(242, 242, 242); padding: 25px;'>
      <div class="container" itemscope itemtype="https://schema.org/Person">
        <%- include('./components/search') %>
          <% if (artist_data.profile !==null) { %>
            <div class="row"
              style="background-color: white; border-radius: 50px; border: 5px solid #ffc107; margin-bottom: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">

              <% if (artist_data.profile.about !==undefined) { %>
                <div class="col-xl-6">
                  <%- include('./components/artistPageProfile', {data: artist_data.profile}); %>
                </div>
                <div class="col-xl-6" id="artist_about_div">
                  <% for( let index=0; index < artist_data.profile.about.length; index++ ) { %>
                    <% if (index===0) { %>
                      <p itemprop="description" class="text-center">
                        <%= artist_data.profile.about[index] %>
                      </p>
                      <% } else { %>
                        <p class="text-center">
                          <%= artist_data.profile.about[index] %>
                        </p>
                        <% } %>

                          <% } %>
                </div>
                <script>
                  window.onload = () => {
                    const w = window.innerWidth;

                    if (w >= 1200) {
                      document.getElementById("artist_about_div").style.marginTop = '100px'
                      document.getElementById("artist_about_div").style.paddingRight = '50px'
                    }

                  }
                  window.onresize = () => {
                    const w = window.innerWidth;

                    if (w >= 1200) {
                      document.getElementById("artist_about_div").style.marginTop = '100px'
                      document.getElementById("artist_about_div").style.paddingRight = '25px'
                    }
                  }
                </script>
                <% } else { %>
                  <div class="col-12">
                    <%- include('./components/artistPageProfile', {data: artist_data.profile}); %>
                  </div>

                  <% } %>
            </div>
            <% } else { %>
              <div
                style="background-color: white; border-radius: 50px; border: 5px solid #ffc107; margin-bottom: 25px; padding: 25px">
                <h1>
                  <%= artist_data.lyrics[0].artist %>'s Worst Lyrics
                </h1>
              </div>
              <% } %>

                <%- include('./components/artistPageLyrics', {data: artist_data.lyrics}); %>
      </div>

    </div>
</body>

</html>