<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BadRapApi | Collection of the Worst Rap Lyrics</title>
  <meta name="description" content="API for bad rap lyrics. Free to use with unlimited requests. Featuring lyrics from all of your favorite rappers.">
  <meta property="og:title" content="Bad Rap Lyrics API" />
  <meta property="og:description" content="Send GET requests and get back JSON data. Simple and free to use." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://badrapapi.com" />

  <link rel="canonical" href="https://badrapapi.com" />

  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary p-4">
    <a class="navbar-brand" href="/" title="Home">
      <img src='/logo.png' alt="logo" width='150px' height='50px' />
    </a>
  </nav>

  <div class="container-fluid p-0" style="background-color: rgb(13, 110, 253);">
    <div>
      <h1 class="text-center" style='font-family: Verdana, sans-serif; font-weight: bold; color: white; padding-top: 50px;'>API for the Worst Rap Lyrics of All
        Time</h1>
      <div class="container" style="background-color: rgb(13, 110, 253); padding: 75px; padding-top: 50px;">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <p class="text-center" style="font-size: 20px; margin: 0 auto; color: white;">
              Easy-to-use REST API to get some of the funniest rap lyrics from all your favorite rappers. Rap lyrics
              so bad they make you
              laugh
              out loud. Send a GET request and get back a random lyric from database. Simple
              and easy to use, unlimited requests. Browse some of the artists featured in the database and submit your
              own
              favorite bad rap lyrics! Some songs may contain explicit lyrics.
            </p>
          </div>
          <div class="col-lg-3 text-center mb-5" style="margin-bottom: 50px; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            </svg>
            <p style="color: white;">
              <span style="font-weight: bold; font-size: 30px; color: white;">Artists</span>

              <br>
              Browse all rappers featured
            </p>

            <a href='/artists' style="text-decoration: none;">
              <div class="btn btn-warning" role="button">
                <span>Browse Artists</span>
              </div>
            </a>
          </div>
          <div class="col-lg-3 text-center mb-5" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
            <p style="color: white;"> <span style="font-weight: bold; font-size: 30px; color: white">Worst of Year</span>
              <br>
              Discover lyrics from each year
            </p>
            <a href='/year' style="text-decoration: none;">

              <div class="btn btn-warning" role="button">
                <span>Worst Years</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: white;">
        <div class="container " style="padding-top: 50px;">
          <div class="text-center row">
            <div class="col-sm">
              <p style="font-size: 35px;">Over <code><%= organized_data.numOfLyrics %></code> lyrics</p>
            </div>
            <div class="col-sm">
              <p style="font-size: 35px;">Lyrics across <code><%= organized_data.numOfArtists %></code> artists</p>
            </div>
            <div class="col-sm">
              <p style="font-size: 35px;">Lyrics from <code><%= organized_data.year_range[0] %>-<%= organized_data.year_range[1] %></code></p>
            </div>

          </div>
          <div class="row justify-content-center" style="margin-top: 52px; margin-bottom: 100px; padding: 50px; border: 5px solid #ffc107; border-radius: 10%;">
            <div id="copy-alert">

            </div>
            <span class="text-center" style="font-size: 30px; font-weight: bold;">Featured Lyrics</span>
            <p class="text-center" style="margin-bottom: 75px; font-size: 20px;">Below are all lyrics from artists that do not contain explicit language. These can be fetched using the API. Send a request to <span id='copy' style="color: rgb(13, 110, 253); text-decoration: underline; cursor: pointer;">/api/filter?explicit=false</span></p>
            <script>
              const x = document.getElementById('copy');
              const z = document.getElementById('copy-alert')
              x.addEventListener('click', () => {
                navigator.clipboard.writeText('https://badrapapi.com/api/filter?explicit=false')
                const y = document.createElement('div')
                y.setAttribute('class', 'alert alert-success p-3')
                y.innerText = 'Copied';

                z.appendChild(y);

                setTimeout(() => {
                  y.remove();
                }, 2000)
              })
            </script>
            <% for(var i=0; i<organized_data.data.length; ++i) { %>

            <div class="col-lg-3 col-md-4 col-sm-6" itemscope itemtype="https://schema.org/MusicComposition">
              <a href="/artists/<%= organized_data.data[i].artist_query %>" style="text-decoration: none;">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                  <img src='<%= organized_data.data[i].artist_img %>' style="width: 210px; height: 200px; border-radius: 50%;" alt="<%= organized_data.data[i].artist_name %>" class='mx-auto d-block' itemprop="image" />
                  <p class="text-secondary text-center" itemprop="name"><%= organized_data.data[i].artist_name %></p>
                </div>

                <p class="text-center" style="color: black;"><i>"<span itemprop="lyrics"><%= organized_data.data[i].lyric %></span>", </i><span itemprop="name"><%= organized_data.data[i].song %></span> (<%= organized_data.data[i].release_year %>)</p>

              </a>
            </div>
            <% } %>
          </div>

          <hr>

          </hr>

          <p>Below are all the endpoints that return lyric data. This API was designed to be as simple and easy to understand as possible and is suitable for beginning developers learning how APIs work. All data returned is in JSON format and contains minimal data points for the sake of simplicity. Any status code other than 200 indicates an error in the request. </p>

          <div style="padding: 50px; background-color: #f2f2f2; margin-bottom: 25px;">
            <h2 style="font-size: 50px;">
              <a href='/api' style="color: rgb(218, 70, 143); text-decoration: none;"> <code><b>/api</b></code> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                </svg></a>
            </h2>

            <p style="margin-bottom: 50px; font-size: 20px;">
              This endpoint will randomly fetch one single lyric from database
            </p>
            <p style='font-size: 16px; font-weight: normal;'><u>Returned JSON structure:</u> </p>
            <ul>
              <li>
                <p style="display: inline;"><code>_id:</code> unique id for each lyric <i>(text)</i>
                </p>
              </li>
              <li>
                <p style="display: inline;"><code>lyrics: </code>the bad lyric
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>artist: </code>the rapper who said the lyric
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>song: </code>the song in which the lyrics were
                  said
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"> <code>release_date: </code>the date the song
                  was released in year format
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>explicit: </code>whether or not the lyric contains
                  explicit language
                  <i>(boolean)</i>
                </p>

              </li>
            </ul>
          </div>


          <div style="padding: 50px; background-color: #f2f2f2;">
            <h2 style="font-size: 50px;">
              <a href='/api/filter?explicit=false' style="color: rgb(218, 70, 143);text-decoration: none;"><code><b>/api/filter</b></code>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                </svg></a>
            </h2>
            <p style="margin-bottom: 50px; font-size: 20px;">
              This endpoint will fetch one random song that matches query. Endpoint must contain at least one
              query.
            </p>
            <p style='font-weight: normal; font-size: 16px; max-width: 600px;'>Below are all the
              query parameters that can be used in the url. Any query used other than
              the
              ones indicated below will
              result in a 400 response code.</p>

            <ul style='margin-bottom: 25px;'>
              <li>
                <span>
                  <code style="color: rgb(218, 70, 143); font-weight: bold; font-size: 18px;">?artist</code>
                </span>
              </li>
              <ul>
                <li>
                  <p style="display: inline;">This will filter requests by artist</p>
                </li>
                <li>
                  <p style="display: inline;">Artist query must be all lowercase with no special characters</p>
                </li>
                <ul>
                  <li>
                    <p style="display: inline;">Dr. Dre = drdre</p>
                  </li>
                  <li>
                    <p style="display: inline;">Jay-Z = jayz</p>
                  </li>
                  <li>
                    <p style="display: inline;">Andre 3000 = andre3000</p>
                  </li>
                </ul>
                <li>
                  <p style="display: inline;">example: <a href='/api/filter?artist=jayz' style='text-decoration: none;'><code class="text-secondary">/api/filter?artist=jayz</code></a></p>

                </li>
              </ul>
              <li>
                <span>
                  <code style="color: rgb(218, 70, 143); font-weight: bold;  font-size: 18px;">?explicit</code>
                </span>
              </li>
              <ul>
                <li>
                  <p style="display: inline;">Returns lyrics that either contain explicit language or not</p>
                </li>
                <li>
                  <p style="display: inline;">Can only be true or false</p>
                </li>
                <li>
                  <p style="display: inline;">example: <a href='/api/filter?explicit=false' style='text-decoration: none;'><code class="text-secondary">/api/filter?explicit=false</code></a></p>

                </li>
              </ul>
              <li>
                <span>
                  <code style="color: rgb(218, 70, 143); font-weight: bold;  font-size: 18px;">?year</code>
                </span>
              </li>
              <ul>
                <li>
                  <p style="display: inline;">Will filter out lyrics by year it came out</p>
                </li>
                <li>
                  <p style="display: inline;">Value is in year format, do not need month or day</p>
                </li>
                <li>
                  <p style="display: inline;">example: <a href='/api/filter?year=1985' style='text-decoration: none;'><code class="text-secondary">/api/filter?year=1985</code></a></p>
                </li>
              </ul>
            </ul>

            <p style="max-width: 550px;">Keep in mind all filter
              queries can be used at once. Different combinations can
              get back unique results. Fetching non-explicit song lyrics from Jay-Z in the year 2012 would be <a href='/api/filter?artist=jayz&explicit=false&year=2012'>/api/filter?artist=jayz&explicit=false&year=2012</a>
            </p>




            <p style='font-size: 16px; font-weight: normal;'><u>Returned JSON structure:</u> </p>
            <ul>
              <li>
                <p style="display: inline;"><code>_id:</code> unique id for each lyric <i>(text)</i>
                </p>
              </li>
              <li>
                <p style="display: inline;"><code>lyrics: </code>the bad lyric of the song
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>artist: </code>the rapper who said the lyric
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"> <code>song: </code>the song in which the lyric were
                  said
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>release_date: </code>the date on which the song
                  was released in year format
                  <i>(text)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>explicit: </code>whether or not the lyric contains
                  explicit language
                  <i>(boolean)</i>
                </p>

              </li>
              <li>
                <p style="display: inline;"><code>artist_query: </code>used to uniquely identify
                  artists in database
                  <i>(text)</i>
                </p>
              </li>
              <li>
                <p style="display: inline;"><code>date_added: </code>the date in which the lyric was
                  added to database in
                  ISO
                  format <i>(date format)</i></p>
              </li>
              <li>
                <p style="display: inline;"><code>explanation: </code>the reason as to why said lyric
                  is bad, only lyrics
                  that
                  are so dumb and easy to explain why they're dumb feature this field <i>(text)</i></p>
              </li>
            </ul>
          </div>

          <hr>

          <div style="margin-top: 75px;">
            <h3 class="text-center">Submit</h3>
            <div class="text-center">
              <p style="max-width: 500px;" class='mx-auto d-block'>Submit your favorite bad rap lyrics. Please be sure to
                include the artists name and the
                actual lyric itself. If approved will appear on site.</p>
            </div>

            <div class="text-center">
              <div style="margin-bottom: 25px;" class="text-center btn btn-danger" role="button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4AN_Y3E_aAsXYPmR18dEWcpBgSIETZWVffcDx3oNbV6bZug/viewform" rel="noreferrer" target="_blank" style="text-decoration: none; color: white;">
                  Submit Rap Lyrics
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</body>

</html>