<div class="row" style="margin-top: 25px;">
  <h3 class="text-center">Other artists</h3>
  <% for(var i=0; i<related_data.length; ++i) { %>

  <div class="col text-center" itemscope itemtype="https://schema.org/Person">
    <a href='/artists/<%= related_data[i].artist_query %>' style="text-decoration: none;" itemprop="url">
      <% if(related_data[i].artist_img !== null) { %>
      <img src='<%= related_data[i].artist_img %>' style="width: 75px; height: 75px;" alt="<%= related_data[i].artist_name %>" itemprop="image" />
      <% } else { %>
      <img src='/no-img.png' style="width: 75px; height: 75px;" alt="black artist image"/>
      <% } %>
      <p itemprop="name" class="mb-0"><%= related_data[i].artist_name %>
      </p>
    </a>
    <% if(related_data[i].numOfLyrics == 1) { %>
      <span class="text-secondary "  style="font-size: 14px;"><%= related_data[i].numOfLyrics %> lyric</span>

      <% } else { %>
      <span class="text-secondary" style="font-size: 14px;"><%= related_data[i].numOfLyrics %> lyrics</span>
      <% } %>
  </div>

  <% } %>
</div>