<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Worst Rap Lyrics of Each Year | BadRapApi</title>
  <meta name="description" content="Easily sort throughout the decades and discover the worst rap lyrics of each year.">
  <meta property="og:title" content="Discover the Worst Rap Lyrics Throughout the Years" />
  <meta property="og:description" content="Each year is unique in it's own way with it's own terrible lyrics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://badrapapi.com/year" />
  <link rel="canonical" href="https://badrapapi.com/year" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./navbar'); %>
  <div class="container">

    <%- include('./searchBar') %>


    <h1 class="mt-3">Worst Rap Lyrics by Year</h1>
    <% var worstYear = 0; var numInYear = 0 %>
    <% for(var i=0; i<data.length; ++i) { %>
    <% if(data[i].songs_in_year.length > numInYear) { %>
    <% numInYear = data[i].songs_in_year.length%>
    <% worstYear = data[i].year %>
    <% } %>
    <% } %>

    <p>Easily sort through all the years of the worst rap lyrics. Each year showcases all the rappers who are currently featured having a bad lyric in that speicific year. Some rappers appear multiple times within a single year.</p>

    <% if(years_with_most_lyrics.length == 1) { %>
    <div class="alert alert-warning">
      <p style="margin-bottom: 0px;">Currently, <a href='#<%= years_with_most_lyrics[0] %>' style="text-decoration: none; color: #d63384;"><code><%= years_with_most_lyrics[0] %></code></a> is the year with the worst lyrics</p>
    </div>

    <% } else if(years_with_most_lyrics.length == 2) { %>
    <div class="alert alert-warning">
      <p style="margin-bottom: 0px;">Currently, <a href='#<%= years_with_most_lyrics[0] %>' style="text-decoration: none; color: #d63384;"><code><%= years_with_most_lyrics[0] %> </code></a> and <a href='#<%= years_with_most_lyrics[1] %>' style="text-decoration: none; color: #d63384;"><code><%= years_with_most_lyrics[1] %></code></a> are the years with the worst lyrics</p>
    </div>

    <% } else { %>
    <div class="alert alert-warning">
      <p style="margin-bottom: 0px;">Currently, <% for(var i=0; i<years_with_most_lyrics.length; ++i) { %>
        <% if(i == years_with_most_lyrics.length-1) { %>
        and <a href='#<%= years_with_most_lyrics[i] %>' style="text-decoration: none; color: #d63384;"><code><%= years_with_most_lyrics[i] %></code></a>
        <% } else { %>
        <a href='#<%= years_with_most_lyrics[i] %>' style="text-decoration: none; color: #d63384;"><code><%= years_with_most_lyrics[i] %></code></a>,
        <% } %>
        <% } %> are the years with the worst lyrics
      </p>
    </div>

    <% } %>



    <% for(var i=0; i<data.length; ++i) { %>
    <% var addedArtists = new Array() %>
    <hr>
    <div style='margin-bottom: 25px;'>
      <a href='/year/<%=  data[i].year %>'>
        <span id='<%= data[i].year %>' style='font-size: 30px;'><%= data[i].year %></span>
      </a>

      <% for(var y=0; y<data[i].songs_in_year.length; ++y) { %>
      <% if(addedArtists.indexOf(data[i].songs_in_year[y].artist) == -1) { %>
      <% addedArtists.push(data[i].songs_in_year[y].artist) %>

      <% } %>
      <%  } %>


      <% if(data[i].songs_in_year.length == 1) { %>
      <p style='margin-top: 10px'><b><%= data[i].songs_in_year.length %> lyric from <%= addedArtists.length %> artist</b></p>
      <% } else { %>
      <p style='margin-top: 10px'><b><%= data[i].songs_in_year.length %> lyrics total across <%= addedArtists.length %> different artists</b></p>
      <% } %>

      <% addedArtists = addedArtists.sort() %>

      <div>
        <% addedArtists.forEach(x => { %>
        <span style="display: block;"><%= x %></span>
        <% }) %>
      </div>

    </div>



    <% } %>
    <div class="text-center" style='font-size: 10px; margin-bottom: 50px; margin-top: 50px;'>Icons made by <a href="https://www.flaticon.com/authors/sumberrejeki" title="SumberRejeki">SumberRejeki</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</body>

</html>