<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Worst Rap Lyrics of Each Year</title>
  <meta name="description" content="Easily sort throughout the decades and discover the worst rap lyrics of each year.">
  <meta property="og:title" content="Discover the Worst Rap Lyrics Throughout the Years" />
  <meta property="og:description" content="Each year is unique in it's own way with it's own terrible lyrics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://badrapapi.com/year" />
  <link rel="canonical" href="https://badrapapi.com/year" />

  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./navbar'); %>
  <div class="container">

    <%- include('./searchBar') %>


    <h1 class="mt-3">Worst Rap Lyrics by Year</h1>




    <p>Easily sort through all the years of the worst rap lyrics, each showcasing all the rappers who are currently featured having a bad lyric in that speicific year. Some rappers appear multiple times within a single year.</p>

    <p>
      <% if(organized_data.year_with_most_lyrics.length == 1) { %>
      <a href='#<%= organized_data.year_with_most_lyrics[0] %>' style='text-decoration: none; color: #d63384;'><code><%= organized_data.year_with_most_lyrics[0] %></code></a> is currently the year with the worst lyrics
      <% } else if(organized_data.year_with_most_lyrics.length == 2) { %>
      <a href='#<%= organized_data.year_with_most_lyrics[0] %>' style='text-decoration: none; color: #d63384;'><code><%= organized_data.year_with_most_lyrics[0] %></code></a> and <a href='#<%=  organized_data.year_with_most_lyrics[1] %>' style='text-decoration: none; color: #d63384;'><code><%= organized_data.year_with_most_lyrics[1] %></code></a> are currently the years with the worst lyrics
      <% } else { %>

      <% for(var i=0; i<organized_data.year_with_most_lyrics.length; ++i) { %>
      <%# if on last year %>
      <% if(i=organized_data.year_with_most_lyrics.length-1) { %>
      and <a href='#<%= organized_data.year_with_most_lyrics[i] %>' style='text-decoration: none; color: #d63384;'><code><%= organized_data.year_with_most_lyrics[i] %></code></a> are the years with the worst rap lyrics
      <% } else { %>
      <a href='#<%= organized_data.year_with_most_lyrics[i] %>' style='text-decoration: none; color: #d63384;'><code><%= organized_data.year_with_most_lyrics[i] %></code></a>,
      <% }%>
      <% }%>
      <% } %>
    </p>


    <% for(var i=0; i<organized_data.year_data.length; ++i) { %>
    <hr>
    <div>
      <div class="row mb-4">
        <div class="col align-self-start">
          <a href='/year/<%= organized_data.year_data[i].year %>'>
            <span style="font-size: 30px;" id='<%= organized_data.year_data[i].year %>'><%= organized_data.year_data[i].year %></span>
          </a>
        </div>

        <div class="col align-self-end text-end">
          <p>
            <code>
              <% if(organized_data.year_data[i].total_lyrics.length == 1) { %>
              1 lyric <% if(organized_data.year_data[i].artist_data.length == 1) { %>
              from 1 artist
              <% } else { %>
              1 lyric across <%= organized_data.year_data[i].artist_data.length %> artists
              <% } %>

              <% } else { %>
              <%= organized_data.year_data[i].total_lyrics.length %> lyrics <%if(organized_data.year_data[i].artist_data.length == 1) { %>
              from 1 artist
              <% } else { %>
              across <%= organized_data.year_data[i].artist_data.length %> artists
              <% }%>
              <% } %>
            </code>
          </p>


        </div>
      </div>


      <div class="row p-2">
        <% for(var y=0; y<organized_data.year_data[i].artist_data.length; ++y) { %>

        <div class="col-3 mb-3">
          <a href='/artists/<%= organized_data.year_data[i].artist_data[y].artist_query %>' style="text-decoration: none; color: black;">
            <% if(organized_data.year_data[i].artist_data[y].artist_img == null) { %>
            <img src='/no-img.png' style='width: 75px; height: 75px; border-radius: 50%;' class="mx-auto d-block" />
            <% } else { %>
            <img src="<%= organized_data.year_data[i].artist_data[y].artist_img  %>" alt="<%=  organized_data.year_data[i].artist_data[y].artist_name %>" style='width: 75px; height: 75px; border-radius: 50%;' class="mx-auto d-block" />
            <% } %>
            <span style="display: block;" class="text-center"><%= organized_data.year_data[i].artist_data[y].artist_name %></span>
          </a>

        </div>

        <% } %>
      </div>
    </div>

    <% } %>
  </div>
</body>

</html>