<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Worst Rap Lyrics of <%= year %></title>
  <meta name="description" content="Discover some of the worst rap lyrics of <%= year %>">
  <meta property="og:title" content="<%= year %>'s Worst Rap Lyrics" />
  <meta property="og:description" content="Some of the worst rap lyrics of <%= year %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://badrapapi.com/year/<%= year %>" />
  <link rel="canonical" href="https://badrapapi.com/year/<%= year %>" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./navbar'); %>
  <div class="container">
    <div style="margin-top: 25px;">
      <input type='text' placeholder="Search any rapper" onkeyup="return delaySearch();" id='search-input' style='margin-bottom: 10px;' class="text-center"/> 
 

      <div id='search-results-div'></div>

      
      <script>
        const resultsDiv = document.getElementById('search-results-div')
        //search function
        async function searchArtist(q) {
          
          resultsDiv.innerText = '';
          var data = await fetch('/api/search?artist=' + q);
          var artistAdded = new Array();
          data = await data.json();
          for (var i = 0; i < data.length; ++i) {
            if (artistAdded.indexOf(data[i].item.artist_query) == -1) {
              artistAdded.push(data[i].item.artist_query)
              var link = document.createElement('a');
              link.setAttribute('href', '/artists/' + data[i].item.artist_query);
              link.style.textDecoration = 'none';
              link.innerText = data[i].item.artist + '\n';
              resultsDiv.appendChild(link)
            }
          }
        }
        //debounce function 
        const debounce = (func) => {
          let timer = null;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => {
              func.apply(this, args);
            }, 700);
          };
        }
        const delaySearch = debounce(() => { searchArtist(document.getElementById('search-input').value) })
      </script>
    </div>
    <h1 class="text-center" style="margin-top: 25px;"><%= year %>'s Worst Rap Lyrics</h1>
    <% if(song_data.length !== 1) { %>
    <div class="text-center" style="margin-bottom: 50px;"><code><%= song_data.length %> lyrics </code> <% if(contains_explicit_lyrics) { %>
      | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-explicit" viewBox="0 0 16 16">
        <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
        <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
      </svg> <span>Some songs contain explicit lyrics</span>
      <% } %></div>
    <% } else { %>
    <div class="text-center" style="margin-bottom: 50px;"><code><%= song_data.length %> lyric </code> <% if(contains_explicit_lyrics) { %>
      | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-explicit" viewBox="0 0 16 16">
        <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
        <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
      </svg> <span>Some songs contain explicit lyrics</span>
      <% } %></div>
    <% } %>

    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
      viewBox="0 0 16 16">
      <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
    </svg> Featured artists: <%for(var i=0; i<featured_artists.length; ++i) { %>
      <% if(i == featured_artists.length-1) { %>
      <a href='/artists/<%= featured_artists[i].artist_query  %>'><%= featured_artists[i].artist_name %></a>
      <% } else { %>
      <a href='/artists/<%= featured_artists[i].artist_query  %>'><%= featured_artists[i].artist_name %></a> &middot
      <% } %>

      <% } %>
    </p>
    <hr>

    <div style='background-color: rgb(255, 193, 7, .9); padding: 3vw'>
      <% for(var i=0; i<song_data.length; ++i) { %>
      <div style="background-color: #f2f2f2; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
        <% if(song_data[i].explicit) { %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-explicit" viewBox="0 0 16 16">
          <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
          <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
        </svg>
        <% } %>
        <p style='margin-bottom: 0px; display: inline; font-size: 18px;'><i>"<%= song_data[i].lyrics %>"</i> (<b><%= song_data[i].artist %></b>, <%= song_data[i].song %>)</p>
      </div>
      <% } %>
    </div>

    <div class="text-center" style='font-size: 10px; margin-bottom: 50px; margin-top: 50px;'>Icons made by <a href="https://www.flaticon.com/authors/sumberrejeki" title="SumberRejeki">SumberRejeki</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</body>

</html>